<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allplacesrilanak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sripadayadetails"></activity>
        <activity android:name=".srimahabodiyadetails" />
        <activity android:name=".sigiriyadetails" />
        <activity android:name=".showpage2" />
        <activity android:name=".profilemanagement" />
        <activity android:name=".polonnaruwadetails" />
        <activity android:name=".planatripsrilanka" />
        <activity android:name=".mirissadetails" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>